<div class="container-fluid">

    <div class="col-md-7">
        <div ng-switch on="vod_type">
            <div ng-switch-when='null'></div>
            <div ng-switch-when="twitch">
                <div id="twitch-embed" data-ng-init="initTwitchPlayer()"></div>
                <div id="player-controls">
                    <div id="player-controls" class="text-center controls-container">
                        <span class="fa fa-angle-double-left controls" ng-click="seekBackward(5)"></span>
                        <span class="fa fa-angle-left controls" ng-click="seekBackward(1)"></span>
                        <span class="fa fa-caret-left controls" ng-click="seekBackward(0.1)"></span>
                        <button ng-click="updateTimes()">Update all times</button>
                        <span class="fa fa-caret-right controls" ng-click="seekForward(0.1)"></span>
                        <span class="fa fa-angle-right controls" ng-click="seekForward(1)"></span>
                        <span class="fa fa-angle-double-right controls" ng-click="seekForward(5)"></span>
                    </div>
                </div>

            </div>
            <div ng-switch-when="youtube">
                <div id="youtube-embed" data-ng-init="initYoutubePlayer()"></div>
                <div id="player-controls">
                    <div id="player-controls" class="text-center controls-container">
                        <span class="fa fa-angle-double-left controls" ng-click="seekBackward(5)"></span>
                        <span class="fa fa-angle-left controls" ng-click="seekBackward(1)"></span>
                        <span class="fa fa-caret-left controls" ng-click="seekBackward(0.1)"></span>
                        <button ng-click="updateTimes()">Update all times</button>
                        <span class="fa fa-caret-right controls" ng-click="seekForward(0.1)"></span>
                        <span class="fa fa-angle-right controls" ng-click="seekForward(1)"></span>
                        <span class="fa fa-angle-double-right controls" ng-click="seekForward(5)"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="sidebar-nav pull-right">
            <div class='row'>

                <label>Game VOD URL: <input type="text" ng-model="game.vod" class='form-control'/></label>

                    <label>Map: <select ng-model="game.map" class="form-control"
                                        ng-options="map.id as map.name for map in maps">
                        <option value="">Select Map</option>

                    </select></label>
                <div class='row text-center'>
                        <div class="col-xs-6">
                            <h3>Left team</h3>
                            <label>Team: <select ng-model="game.left_team.team" class="form-control"
                                                 ng-options="team.id as team.name for team in teams">
                                <option value="">Select Team</option>

                            </select></label>

                            <label>Color: <select ng-model="game.left_team.color" class="form-control"
                                                  ng-options="color for color in colors" ng-change="saveGame()">
                                <option value="">Select team color</option>

                            </select></label>
                            <label>Points: <input type="text" ng-model="game.left.points" class='form-control'
                                                  ng-required="false"/></label>
                            <label>Subpoints: <input type="text" ng-model="game.left.subpoints" class='form-control'
                                                     ng-required="false"/></label>
                            <ul>
                                <li ng-repeat="i in range(player_count) track by $index"><label>Player {{ $index + 1 }}:<select
                                        ng-model="game.left_team.players[$index]" class="form-control form-control-sm"
                                        ng-options="player.id as player.name for player in players">
                                    <option value="">Select player</option>

                                </select></label></li>
                            </ul>
                        </div>

                        <div class="col-xs-6">
                            <h3>Right team</h3>
                            <label>Team: <select ng-model="game.right_team.team" class="form-control"
                                                 ng-options="team.id as team.name for team in teams">
                                <option value="">Select Team</option>

                            </select></label>

                            <label>Color: <select ng-model="game.right_team.color" class="form-control"
                                                  ng-options="color for color in colors" ng-change="saveGame()">
                                <option value="">Select team color</option>

                            </select></label>
                            <label>Points: <input type="text" ng-model="game.right.points" class='form-control'
                                                  ng-required="false"/></label>
                            <label>Subpoints: <input type="text" ng-model="game.right.subpoints" class='form-control'
                                                     ng-required="false"/></label>
                            <ul>
                                <li ng-repeat="i in range(player_count) track by $index"><label class="control-label">Player {{ $index + 1 }}:<select
                                        ng-model="game.right_team.players[$index]" class="form-control"
                                        ng-options="player.id as player.name for player in players">
                                    <option value="">Select player</option>

                                </select></label></li>
                            </ul>
                        </div>
                    <button class='btn btn-success' ng-click="saveGame()">Save</button>
                </div>
                <div class="row">
                <div class='col'>
                    <h1>Add a round</h1>
                    <label>Round number: <input type="text" ng-model="newRound.round_number"
                                                class='form-control'/></label>
                    <label>Attacking side: <select ng-model="newRound.attacking_side" class="form-control"
                                                   ng-options="side.id as side.name for side in sides">
                        <option value="">Select attacking side</option>

                    </select></label>
                    <label>Begin: <input type="text" ng-model="newRound.begin" class='form-control'/>
                        <button ng-click="updateBegin()">Update from current timestamp</button>
                    </label>
                    <label>End: <input type="text" ng-model="newRound.end" class='form-control'/>
                        <button ng-click="updateEnd()">Update from current timestamp</button>
                    </label>
                    <button class='btn btn-success' ng-click="addRound()">Add</button>
                    <h1>Rounds</h1>
                    <table class="table table-bordered table-striped pause-table">
                        <thead>
                        <th>
                            Round
                        </th>
                        <th>
                            Begin
                        </th>
                        <th>
                            End
                        </th>
                        <th>Actions</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat='r in rounds'>
                            <td>
                                <a ui-sref="round-detail({round_id: r.id })">Round {{ r.round_number }}</a>
                            </td>
                            <td ng-click="seekTo(r.begin)">
                                {{ r.begin |secondsToDateTime | date:'HH:mm:ss' }}
                            </td>
                            <td ng-click="seekTo(r.end)">
                                {{ r.end|secondsToDateTime | date:'HH:mm:ss' }}
                            </td>
                            <td>
                                <span class='badge' ng-click="deleteRound(r.id)">X</span>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
                </div>
        </div>
    </div>
</div>
