Django
django-allauth
django-appconf
django-celery-results
django-classy-tags
django-compressor
django-cors-headers
django-extensions
django-htmlmin
django-rest-auth
django-sekizai
djangorestframework
drf-nested-routers
psycopg2
whitenoise