tr {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}

main {
    height:85%;
    background-color: aliceblue;
}


header.navbar {
    background-color: #1b2b3a;
}


.full-listing{
    height:600px;
    overflow: hidden;
}

.half-listing{
    height:300px;
    overflow: hidden;
}

.quarter-listing{
    height:150px;
    overflow: hidden;
}


.statuses {
    width: 1280px;
}

.team {
    display: table-cell;
}

.player {
    display: table-cell;
    height: 80px;
    width: 67px;
    padding-left: 4px;
    padding-right: 4px;
}
.offset {
    width:30px;
}
.left{
}
.right {
}
.mid {
    width:392px;
}

.checkmark {
    display:inline-block;
    width: 22px;
    height:22px;
    background: #FF8201;
    border-radius:50%;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark:before{
    content:"";
    position: absolute;
    width:3px;
    height:9px;
    background-color:#fff;
    left:11px;
    top:6px;
}

.checkmark:after{
    content:"";
    position: absolute;
    width:3px;
    height:3px;
    background-color:#fff;
    left:8px;
    top:12px;
}

.controls {
    font-size: 24pt;
    padding: 10px;
}
.controls-container {
    width: 1280px;
}


#right-team {
    position: relative;
    float: right;
    width: 50%;
}

#left-team {
    position: relative;
    width: 50%;
    float: left;
}

.container-fluid{
    height:100%;
}

.col-md-4, .col-md-8, .col-md-12{
    height: 100%;
    overflow-y: hidden;
    overflow-x: visible;
}
.sidebar-nav {
    background-color: aliceblue;
    height:100%;
    width: 99%;
    overflow-y: hidden;
    overflow-x: visible;
}
.sidebar-nav .tabs {
    height:76%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: visible;
}



.annotation-table {
    height:100%;
    overflow-y: scroll;
}


.switch-table tbody{
    height: 83%;            //  <-- Select the height of the body
}

.round-table tr {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}

.round-table{
    height:85%;              // <-- Select the height of the table
        table-layout:fixed;
}
.round-table tbody{
    overflow-y: scroll;
    height: 80%;            //  <-- Select the height of the body
    width: 100%;
    position: absolute;
    background-color: aliceblue;
}

.kill-table {
    height: 250px;
}

.pause-table {
    display: block;
    height: 100px;
}
.pause-table tbody {
    height: 100px;
}

.kill-table tbody {
    max-height:25%;
 }
.hero-icon{
    width: 24px;
    height: 20px;
    box-sizing: content-box;
    background-size: 52px auto;
    background-position: -12px -14px;
    background-repeat: no-repeat;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.success {
    background-color: lightgreen;
}
