
div#annotations {
    background-color: aliceblue;
    width: 75%;
    height: 100%;
    float: left;
    min-width: 1280px;
}

div#sidebar {
    background-color: aliceblue;
    width: 25%;
    height: 100%;
    float: right;
    overflow: auto;
}

form {
    display: block;
}

.player-form {
    float: left;
}

#right-team {
    position: relative;
    float: right;
    width: 50%;
}

#left-team {
    position: relative;
    width: 50%;
    float: left;
}

main .row{
    background-color: aliceblue;
    overflow: hidden;
}
.main {
    overflow: hidden;
}