@media screen and (min-width: 768px) {
    body { padding-top: 100px; }
}
html, body
{
  font: 10px sans-serif;
    height: 100%;
	margin: 0;
	padding: 10px;
}

body {
 background-color: #1b2b3a;
}

.head {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.head>.navbar-header {
    margin-right: 0;
    margin-left: 0;
    float: left;
}

.nav {
    list-style: none;
}

.navbar-nav>li {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    float: left;
}

.nav>li {
  position: relative;
    display: block;
    color: #ff8201;
}

@media (max-width: 1504px) and (min-width: 768px) {
  .navbar.navbar-fixed-bottom .navbar-collapse,
  .navbar.navbar-fixed-top .navbar-collapse {
    max-height: auto;
    overflow-x: visible;
  }
}


#content{
  width: 75%;
  height: 100%;
   float: left;
}
#sidebar{
    width: 25%;
    height: 100%;
    float: right;
    overflow: auto;
}
@media (max-width: 768px) {
  .navbar-brand {
    height: 80px; // Logo will not overhang
  }
  #LC-navbar {
    background-color: #ccc; // Change background color
  }
  .navbar-toggle {
    margin-top: 25px; // Adjust toggle position
  }
}