<h1>{{ round.round_number }}</h1>
<div id="sidebar" class="sidebar">
    <div ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Switches">
                    <md-content class="md-padding">
                        <h4>Switches</h4>

                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>Player</th>
                                <th>New hero</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='s in switches' timepoint="{{ s.time_point + round.begin }}">
                                <td>{{ s.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>{{ s.player }}</td>
                                <td>{{ s.new_hero }}</td>
                                <td>
                                    <span class='badge' ng-click="deleteSwitch(s.id)">X</span>
                                </td>
                            </tr>
                        </table>
                    </md-content>
                </md-tab>
                <md-tab label="Kills">
                    <md-content class="md-padding">
                        <h4>Kills</h4>
                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>Killing player</th>
                                <th>Killed player</th>
                                <th>Ability</th>
                                <th>Was headshot</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='k in kills' timepoint="{{ k.time_point + round.begin }}">
                                <td>{{ k.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>{{ k.killing_player }}</td>
                                <td>{{ k.killed_player }}</td>
                                <td>{{ k.ability }}</td>
                                <td>{{ k.headshot }}</td>
                                <td>
                                    <span class='badge' ng-click="deleteKill(k.id)">X</span>
                                </td>
                            </tr>
                        </table>
                        <h4>NPC kills</h4>
                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>Killing player</th>
                                <th>Killed NPC</th>
                                <th>Ability</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='k in killnpcs' timepoint="{{ k.time_point+round.begin }}">
                                <td>{{ k.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>{{ k.killing_player }}</td>
                                <td>{{ k.killed_npc }}</td>
                                <td>{{ k.ability }}</td>
                                <td>
                                    <span class='badge' ng-click="deleteKillNPC(k.id)">X</span>
                                </td>
                            </tr>
                        </table>
                    </md-content>
                </md-tab>
                <md-tab label="Deaths">
                    <md-content class="md-padding">
                        <h4>Deaths</h4>
                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>Player</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='d in deaths' timepoint="{{ d.time_point + round.begin }}">
                                <td>{{ d.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>{{ d.player }}</td>
                                <td>
                                    <span class='badge' ng-click="deleteDeath(d.id)">X</span>
                                </td>
                            </tr>
                        </table>

                        <h4>NPC Deaths</h4>
                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>NPC</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='d in npcdeaths' timepoint="{{ d.time_point + round.begin }}">
                                <td>{{ d.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>{{ d.npc }}</td>
                                <td>{{ d.side }}</td>
                                <td>
                                    <span class='badge' ng-click="deleteNPCDeath(d.id)">X</span>
                                </td>
                            </tr>
                        </table>
                    </md-content>
                </md-tab>
                <md-tab label="Revives">
                    <md-content class="md-padding">
                        <h4>Revives</h4>
                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>Reviving player</th>
                                <th>Revived player</th>
                                <th>Ability</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='r in revives' timepoint="{{ r.time_point + round.begin }}">
                                <td>{{ r.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>{{ r.reviving_player }}</td>
                                <td>{{ r.revived_player }}</td>
                                <td>{{ r.ability }}</td>
                                <td>
                                    <span class='badge' ng-click="deleteRevive(r.id)">X</span>
                                </td>
                            </tr>
                        </table>
                    </md-content>
                </md-tab>
                <md-tab label="Ults">
                    <md-content class="md-padding">
                        <h4>Ult gains</h4>
                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>Player</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='u in ultgains' timepoint="{{ u.time_point + round.begin }}">
                                <td>{{ u.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>{{ u.player }}</td>
                                <td>
                                    <span class='badge' ng-click="deleteUltGain(u.id)">X</span>
                                </td>
                            </tr>
                        </table>

                        <h4>Ult uses</h4>
                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>Player</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='u in ultuses' timepoint="{{ u.time_point + round.begin }}">
                                <td>{{ u.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>{{ u.player }}</td>
                                <td>
                                    <span class='badge' ng-click="deleteUltUse(u.id)">X</span>
                                </td>
                            </tr>
                        </table>
                    </md-content>
                </md-tab>
                <md-tab label="Pauses">
                    <md-content class="md-padding">
                        <h4>Pauses</h4>
                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='p in pauses' timepoint="{{ p.time_point + round.begin }}">
                                <td>{{ p.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>
                                    <span class='badge' ng-click="deletePause(p.id)">X</span>
                                </td>
                            </tr>
                        </table>
                        <h4>Unpauses</h4>
                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='p in unpauses' timepoint="{{ p.time_point + round.begin }}">
                                <td>{{ p.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>
                                    <span class='badge' ng-click="deleteUnpause(p.id)">X</span>
                                </td>
                            </tr>
                        </table>
                    </md-content>
                </md-tab>
                <md-tab label="Points">
                    <md-content class="md-padding">
                        <h4>Point gains</h4>
                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>Point total</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='p in pointgain' timepoint="{{ p.time_point + round.begin }}">
                                <td>{{ p.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>{{ p.point_total }}</td>
                                <td>
                                    <span class='badge' ng-click="deletePointGain(p.id)">X</span>
                                </td>
                            </tr>
                        </table>
                        <h4>Point flips</h4>
                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>Controlling side</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='p in pointflips' timepoint="{{ p.time_point + round.begin }}">
                                <td>{{ p.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>{{ p.controlling_side }}</td>
                                <td>
                                    <span class='badge' ng-click="deletePointFlip(p.id)">X</span>
                                </td>
                            </tr>
                        </table>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>