<div class="container-fluid">
<div class='row text-center'>
    <div class='col-sm-4 col-sm-offset-4'>
        <h1>Add a game</h1>
        <label>Game number: <input type="text" ng-model="newGame.game_number" class='form-control'/></label>

        <label>Map: <select ng-model="newGame.map" class="'form-control"
                            ng-options="map.id as map.name for map in maps">
            <option value="">Select Map</option>

        </select></label>

        <label>VOD URL: <input type="text" ng-model="newGame.vod" class='form-control'/></label>
        <button class='btn btn-success btn-lg' ng-click="addGame()">Add</button>
    </div>
</div>
<div class='row text-center'>
    <div class="col col-lg-2 col-md-offset-4">
        <h3>Left team</h3>
        <label>Team: <select ng-model="newGame.left_team.team" class="'form-control"
                                  ng-options="team.id as team.name for team in teams">
            <option value="">Select Team</option>

        </select></label>

        <label>Color: <select ng-model="newGame.left_team.color" class="'form-control"
                                        ng-options="color.id as color.name for color in colors" ng-init="newGame.left_team.color='B'">
            <option value="">Select team color</option>

        </select></label>
        <label>Points: <input type="text" ng-model="newGame.left.points" class='form-control' ng-required="false"/></label>
        <label>Subpoints: <input type="text" ng-model="newGame.left.subpoints" class='form-control' ng-required="false"/></label>
        <ul>
            <li ng-repeat="i in range(player_count) track by $index"><label>Player {{ $index + 1 }}:<select ng-model="newGame.left_team.players[$index]" class="'form-control"
                                          ng-options="player.id as player.name for player in players">
            <option value="">Select player</option>

        </select></label></li>
        </ul>
    </div>
    <div class="col col-lg-2">
        <h3>Right team</h3>
        <label>Team: <select ng-model="newGame.right_team.team" class="'form-control"
                                  ng-options="team.id as team.name for team in teams">
            <option value="">Select Team</option>

        </select></label>

        <label>Color: <select ng-model="newGame.right_team.color" class="'form-control"
                                        ng-options="color.id as color.name for color in colors" ng-init="newGame.right_team.color='R'">
            <option value="">Select team color</option>

        </select></label>
        <label>Points: <input type="text" ng-model="newGame.right.points" class='form-control' ng-required="false"/></label>
        <label>Subpoints: <input type="text" ng-model="newGame.right.subpoints" class='form-control' ng-required="false"/></label>
        <ul>
            <li ng-repeat="i in range(player_count) track by $index"><label>Player {{ $index + 1 }}:<select ng-model="newGame.right_team.players[$index]" class="'form-control"
                                          ng-options="player.id as player.name for player in players">
            <option value="">Select player</option>

        </select></label></li>
        </ul>

    </div>
</div>
    </div>