<div class="container-fluid">

    <div class="col-md-9">
        <div ng-switch on="vod_type">
            <div ng-switch-when='null'></div>
            <div ng-switch-when="twitch">
                <div id="twitch-embed" data-ng-init="initTwitchPlayer()"></div>
                <div id="player-controls">
                    <div id="player-controls" class="text-center controls-container">
                        <span class="fa fa-angle-double-left controls" ng-click="seekBackward(5)"></span>
                        <span class="fa fa-angle-left controls" ng-click="seekBackward(1)"></span>
                        <span class="fa fa-caret-left controls" ng-click="seekBackward(0.1)"></span>
                        <button ng-click="updateTimes()">Update all times</button>
                        <span class="fa fa-caret-right controls" ng-click="seekForward(0.1)"></span>
                        <span class="fa fa-angle-right controls" ng-click="seekForward(1)"></span>
                        <span class="fa fa-angle-double-right controls" ng-click="seekForward(5)"></span>
                    </div>
                </div>

            </div>
            <div ng-switch-when="youtube">
                <div id="youtube-embed" data-ng-init="initYoutubePlayer()"></div>
                <div id="player-controls">
                    <div id="player-controls" class="text-center controls-container">
                        <span class="fa fa-angle-double-left controls" ng-click="seekBackward(5)"></span>
                        <span class="fa fa-angle-left controls" ng-click="seekBackward(1)"></span>
                        <span class="fa fa-caret-left controls" ng-click="seekBackward(0.1)"></span>
                        <button ng-click="updateTimes()">Update all times</button>
                        <span class="fa fa-caret-right controls" ng-click="seekForward(0.1)"></span>
                        <span class="fa fa-angle-right controls" ng-click="seekForward(1)"></span>
                        <span class="fa fa-angle-double-right controls" ng-click="seekForward(5)"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="sidebar-nav pull-right">
            <div class='row text-center'>
                <div class="col">

                    <h1>{{ match.teams[0] }} vs {{ match.teams[1] }}</h1>
                    <h4>{{ match.event.name }}</h4>
                    <a href="https://www.winstonslab.com/matches/match.php?id={{ match.wl_id }}">Open on Winston's Lab</a>
                    <button class='btn btn-success' ng-click="saveMatch()">Save</button>

                    <h3>Add a game</h3>
                    <label>Game number: <input type="text" ng-model="newGame.game_number" class='form-control'/></label>

                    <label>Map: <select ng-model="newGame.map" class="form-control"
                                        ng-options="map.id as map.name for map in maps">
                        <option value="">Select Map</option>

                    </select></label>

                    <button class='btn btn-success' ng-click="addGame()">Add</button>
                    <div class='row text-center'>
                        <div class="col">
                            <h3>Left team</h3>
                            <label>Team: <select ng-model="newGame.left_team.team" class="form-control"
                                                 ng-options="team.id as team.name for team in teams">
                                <option value="">Select Team</option>

                            </select></label>

                            <label>Color: <select ng-model="newGame.left_team.color" class="form-control"
                                                  ng-options="color for color in colors"
                                                  ng-init="newGame.left_team.color='Blue'">
                                <option value="">Select team color</option>

                            </select></label>
                            <label>Points: <input type="text" ng-model="newGame.left.points" class='form-control'
                                                  ng-required="false"/></label>
                            <label>Subpoints: <input type="text" ng-model="newGame.left.subpoints" class='form-control'
                                                     ng-required="false"/></label>
                            <ul>
                                <li ng-repeat="i in range(player_count) track by $index"><label>Player {{ $index + 1 }}:<select
                                        ng-model="newGame.left_team.players[$index]"
                                        ng-options="player.id as player.name for player in players">
                                    <option value="">Select player</option>

                                </select></label></li>
                            </ul>
                        </div>
                        <div class="col">
                            <h3>Right team</h3>
                            <label>Team: <select ng-model="newGame.right_team.team" class="form-control"
                                                 ng-options="team.id as team.name for team in teams">
                                <option value="">Select Team</option>

                            </select></label>

                            <label>Color: <select ng-model="newGame.right_team.color" class="form-control"
                                                  ng-options="color for color in colors"
                                                  ng-init="newGame.right_team.color='Red'">
                                <option value="">Select team color</option>

                            </select></label>
                            <label>Points: <input type="text" ng-model="newGame.right.points" class='form-control'
                                                  ng-required="false"/></label>
                            <label>Subpoints: <input type="text" ng-model="newGame.right.subpoints" class='form-control'
                                                     ng-required="false"/></label>
                            <ul>
                                <li ng-repeat="i in range(player_count) track by $index"><label>Player {{ $index + 1 }}:<select
                                        ng-model="newGame.right_team.players[$index]"
                                        ng-options="player.id as player.name for player in players">
                                    <option value="">Select player</option>

                                </select></label></li>
                            </ul>
                    <button class='btn btn-success' ng-click="updateAllTimes()">Update start to current time</button>
                        </div>
                            <h6>All Games</h6>
                    <table class="table table-striped game-table">
                        <thead>
                        <th>
                            Game
                        </th>
                        <th>Actions</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat='g in games'>
                            <td>
                                <a ui-sref="game-detail({game_id: g.id })">Game {{ g.game_number }}</a>
                            </td>
                            <td>
                                <span class='badge' ng-click="deleteGame(g.id)">X</span>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>