{% load staticfiles %}
<!DOCTYPE html>
<html ng-app='ng-events'>
    <head>
        <title>Let's get djangular</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <link rel='stylesheet' href="{% static "annotator/css/round.css" %}">
    </head>
    <body>

        <div ui-view></div>

        <script src="{%  static "node_modules/angular/angular.js" %}"></script>
        <script src="{%  static "node_modules/angular-ui-router/release/angular-ui-router.js" %}"></script>
        <script src="{% static 'node_modules/angular-cookies/angular-cookies.js' %}" type="text/javascript"></script>
        <script src="{% static "annotator/js/eventApp.js" %}"></script>

    </body>
</html>