<div class="row text-center">
    <div class="col-md-9 scroll-container">

        <table class="table table-bordered table-striped round-table">
            <thead>
            <tr>
                <td ng-click="refreshOrdering('name')">

                    Hero
                    <span ng-show="ordering == 'name'" class="fa fa-caret-down"></span>
                    <span ng-show="ordering == '-name'" class="fa fa-caret-up"></span>
                </td>
                <td ng-click="refreshOrdering('type')">

                    Hero type
                    <span ng-show="ordering == 'type'" class="fa fa-caret-down"></span>
                    <span ng-show="ordering == '-type'" class="fa fa-caret-up"></span>
                </td>
                <td ng-click="refreshOrdering('play_time')">

                    Play time
                    <span ng-show="ordering == 'play_time'" class="fa fa-caret-down"></span>
                    <span ng-show="ordering == '-play_time'" class="fa fa-caret-up"></span>
                </td>

            </tr>
            </thead>
        </table>
    </div>
    <div class=""
</div>