<div class="container-fluid">

    <div class="col-md-9">
        <div ng-switch on="vod_type">
            <div ng-switch-when='null'></div>
            <div ng-switch-when="twitch">
        <div id="twitch-embed" data-ng-init="initPlayer()"></div>
                <div id="player-controls">
                    <button ng-click="seekBackward()">Back one second</button>
                    <button ng-click="updateTimes()">Update all times</button>
                    <button ng-click="seekForward()">Forward one second</button>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="sidebar-nav pull-right">
    <div ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Switches">
                    <md-content class="md-padding" ng-controller="SwitchCtrl">
                        <h4>Add a switch</h4>
                        <label>Time point: <input type="text" ng-model="newSwitch.time_point"
                                                class='form-control' readonly/></label>
                    <label>Player: <select ng-model="newSwitch.player" class="'form-control"
                                                   ng-options="player.id as player.name for player in all_players" ng-change="updateSwitchHeroes()">
                        <option value="">Select player</option>

                    </select></label>
                    <label>New hero: <select ng-model="newSwitch.new_hero" class="'form-control"
                                                   ng-options="hero.id as hero.name for hero in available_heroes">
                        <option value="">Select hero</option>

                    </select></label>
                    <button class='btn btn-success btn-lg' ng-click="addSwitch()">Add</button>
                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>Player</th>
                                <th>New hero</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='s in switches' timepoint="{{ s.time_point + round.begin }}">
                                <td>{{ s.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>{{ s.player.name }}</td>
                                <td>{{ s.new_hero.name }}</td>
                                <td>
                                    <span class='badge' ng-click="deleteSwitch(s.id)">X</span>
                                </td>
                            </tr>
                        </table>
                    </md-content>
                </md-tab>
                <md-tab label="Kills">
                    <md-content class="md-padding" ng-controller="KillCtrl">
                        <h4>Player kills</h4>
                        <h6>Add a kill</h6>
                        <label>Time point: <input type="text" ng-model="newKill.time_point"
                                                class='form-control'  readonly/></label>
                    <label>Killing player: <select ng-model="newKill.killing_player" class="'form-control"
                                                   ng-options="player.id as player.name for player in all_players" ng-change="updateKillProperties()">
                        <option value="">Select player</option>

                    </select></label>
                    <label>Killed player: <select ng-model="newKill.killed_player" class="'form-control"
                                                   ng-options="player.id as player.name for player in killable_players">
                        <option value="">Select player</option>

                    </select></label>
                    <label>Ability: <select ng-model="newKill.ability" class="'form-control"
                                                   ng-options="ability.id as ability.name for ability in damaging_abilities" ng-change="updateHeadshotability()">
                        <option value="">Select ability</option>

                    </select></label>
                    <label>Headshot: <input type="checkbox" ng-model="newKill.headshot" ng-disabled="!headshotable"></label>
                    <button class='btn btn-success btn-lg' ng-click="addKill()">Add</button>
                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>Killing player</th>
                                <th>Killed player</th>
                                <th>Ability</th>
                                <th>Was headshot</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='k in kills' timepoint="{{ k.time_point + round.begin }}">
                                <td>{{ k.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>{{ k.killing_player }}</td>
                                <td>{{ k.killed_player }}</td>
                                <td>{{ k.ability }}</td>
                                <td>{{ k.headshot }}</td>
                                <td>
                                    <span class='badge' ng-click="deleteKill(k.id)">X</span>
                                </td>
                            </tr>
                        </table>
                        <h4>NPC kills</h4>
                        <h6>Add an NPC kill</h6>
                        <label>Time point: <input type="text" ng-model="newKillNPC.time_point"
                                                class='form-control' readonly/></label>
                    <label>Killing player: <select ng-model="newKillNPC.killing_player" class="'form-control"
                                                   ng-options="player.id as player.name for player in all_players" ng-change="updateKillNPCproperties()">
                        <option value="">Select player</option>

                    </select></label>
                    <label>Killed NPC: <select ng-model="newKillNPC.killed_npc" class="'form-control"
                                                   ng-options="npc.id as npc.name for npc in NPCs">
                        <option value="">Select NPC</option>

                    </select></label>
                    <label>Ability: <select ng-model="newKillNPC.ability" class="'form-control"
                                                   ng-options="ability.id as ability.name for ability in killnpc_damaging_abilities">
                        <option value="">Select ability</option>

                    </select></label>
                    <button class='btn btn-success btn-lg' ng-click="addKillNPC()">Add</button>
                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>Killing player</th>
                                <th>Killed NPC</th>
                                <th>Ability</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='k in killnpcs' timepoint="{{ k.time_point+round.begin }}">
                                <td>{{ k.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>{{ k.killing_player }}</td>
                                <td>{{ k.killed_npc }}</td>
                                <td>{{ k.ability }}</td>
                                <td>
                                    <span class='badge' ng-click="deleteKillNPC(k.id)">X</span>
                                </td>
                            </tr>
                        </table>
                    </md-content>
                </md-tab>
                <md-tab label="Deaths">
                    <md-content class="md-padding" ng-controller="DeathCtrl">
                        <h4>Deaths</h4>
                        <h6>Add a death</h6>
                        <label>Time point: <input type="text" ng-model="newDeath.time_point"
                                                class='form-control' readonly/></label>
                    <label>Player: <select ng-model="newDeath.player" class="'form-control"
                                                   ng-options="player.id as player.name for player in all_players">
                        <option value="">Select player</option>

                    </select></label>
                    <button class='btn btn-success btn-lg' ng-click="addDeath()">Add</button>
                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>Player</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='d in deaths' timepoint="{{ d.time_point + round.begin }}">
                                <td>{{ d.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>{{ d.player }}</td>
                                <td>
                                    <span class='badge' ng-click="deleteDeath(d.id)">X</span>
                                </td>
                            </tr>
                        </table>

                        <h4>NPC Deaths</h4>
                        <h6>Add an NPC death</h6>
                        <label>Time point: <input type="text" ng-model="newNPCDeath.time_point"
                                                class='form-control' readonly/></label>
                    <label>NPC: <select ng-model="newNPCDeath.npc" class="'form-control"
                                                   ng-options="npc.id as npc.name for npc in NPCs">
                        <option value="">Select NPC</option>

                    </select></label>
                    <label>Side: <select ng-model="newNPCDeath.side" class="'form-control"
                                                   ng-options="side.id as side.name for side in sides">
                        <option value="">Select side</option>

                    </select></label>
                    <button class='btn btn-success btn-lg' ng-click="addNPCDeath()">Add</button>
                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>NPC</th>
                                <th>Side</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='d in npcdeaths' timepoint="{{ d.time_point + round.begin }}">
                                <td>{{ d.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>{{ d.npc }}</td>
                                <td>{{ d.side }}</td>
                                <td>
                                    <span class='badge' ng-click="deleteNPCDeath(d.id)">X</span>
                                </td>
                            </tr>
                        </table>
                    </md-content>
                </md-tab>
                <md-tab label="Revives">
                    <md-content class="md-padding" ng-controller="ReviveCtrl">
                        <h4>Revives</h4>
                        <h6>Add a revive</h6>
                        <label>Time point: <input type="text" ng-model="newRevive.time_point"
                                                class='form-control' readonly/></label>
                    <label>Reviving player: <select ng-model="newRevive.reviving_player" class="'form-control"
                                                   ng-options="player.id as player.name for player in reviver_players" ng-change="updateReviveProperties()">
                        <option value="">Select player</option>

                    </select></label>
                    <label>Revived player: <select ng-model="newRevive.revived_player" class="'form-control"
                                                   ng-options="player.id as player.name for player in revivable_players">
                        <option value="">Select player</option>

                    </select></label>
                    <label>Ability: <select ng-model="newRevive.ability" class="'form-control"
                                                   ng-options="ability.id as ability.name for ability in reviving_abilities">
                        <option value="">Select ability</option>

                    </select></label>
                    <button class='btn btn-success btn-lg' ng-click="addRevive()">Add</button>
                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>Reviving player</th>
                                <th>Revived player</th>
                                <th>Ability</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='r in revives' timepoint="{{ r.time_point + round.begin }}">
                                <td>{{ r.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>{{ r.reviving_player }}</td>
                                <td>{{ r.revived_player }}</td>
                                <td>{{ r.ability }}</td>
                                <td>
                                    <span class='badge' ng-click="deleteRevive(r.id)">X</span>
                                </td>
                            </tr>
                        </table>
                    </md-content>
                </md-tab>
                <md-tab label="Ults">
                    <md-content class="md-padding" ng-controller="UltCtrl">
                        <h4>Ult gains</h4>
                        <h6>Add an ult gain</h6>
                        <label>Time point: <input type="text" ng-model="newUltGain.time_point"
                                                class='form-control' readonly/></label>
                    <label>Player: <select ng-model="newUltGain.player" class="'form-control"
                                                   ng-options="player.id as player.name for player in all_players" ng-change="updateUltGainProperties()">
                        <option value="">Select player</option>

                    </select></label>
                    <button class='btn btn-success btn-lg' ng-click="addUltGain()" ng-disabled="!ultGainAddable">Add</button>
                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>Player</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='u in ultgains' timepoint="{{ u.time_point + round.begin }}">
                                <td>{{ u.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>{{ u.player.name }}</td>
                                <td>
                                    <span class='badge' ng-click="deleteUltGain(u.id)">X</span>
                                </td>
                            </tr>
                        </table>

                        <h4>Ult uses</h4>
                        <h6>Add an ult use</h6>
                        <label>Time point: <input type="text" ng-model="newUltUse.time_point"
                                                class='form-control' readonly/></label>
                    <label>Player: <select ng-model="newUltUse.player" class="'form-control"
                                                   ng-options="player.id as player.name for player in all_players" ng-change="updateUltUseProperties()">
                        <option value="">Select player</option>

                    </select></label>
                    <button class='btn btn-success btn-lg' ng-click="addUltUse()" ng-disabled="!ultUseAddable">Add</button>
                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>Player</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='u in ultuses' timepoint="{{ u.time_point + round.begin }}">
                                <td>{{ u.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>{{ u.player.name }}</td>
                                <td>
                                    <span class='badge' ng-click="deleteUltUse(u.id)">X</span>
                                </td>
                            </tr>
                        </table>
                    </md-content>
                </md-tab>
                <md-tab label="Pauses">
                    <md-content class="md-padding" ng-controller="PauseCtrl">
                        <h4>Pauses</h4>
                        <h6>Add a pause</h6>
                        <label>Time point: <input type="text" ng-model="newPause.time_point"
                                                class='form-control' readonly/></label>
                    <button class='btn btn-success btn-lg' ng-click="addPause()" ng-disabled="isPaused">Add</button>
                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='p in pauses' timepoint="{{ p.time_point + round.begin }}">
                                <td>{{ p.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>
                                    <span class='badge' ng-click="deletePause(p.id)">X</span>
                                </td>
                            </tr>
                        </table>
                        <h4>Unpauses</h4>
                        <h6>Add an unpause</h6>
                        <label>Time point: <input type="text" ng-model="newUnpause.time_point"
                                                class='form-control' readonly/></label>
                    <button class='btn btn-success btn-lg' ng-click="addUnpause()" ng-disabled="!isPaused">Add</button>
                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='p in unpauses' timepoint="{{ p.time_point + round.begin }}">
                                <td>{{ p.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>
                                    <span class='badge' ng-click="deleteUnpause(p.id)">X</span>
                                </td>
                            </tr>
                        </table>
                        <h4>Replay starts</h4>
                        <h6>Add a replay start</h6>
                        <label>Time point: <input type="text" ng-model="newReplayStart.time_point"
                                                class='form-control' readonly/></label>
                    <button class='btn btn-success btn-lg' ng-click="addReplayStart()" ng-disabled="isReplay">Add</button>
                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='p in replaystarts' timepoint="{{ p.time_point + round.begin }}">
                                <td>{{ p.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>
                                    <span class='badge' ng-click="deleteReplayStart(p.id)">X</span>
                                </td>
                            </tr>
                        </table>
                        <h4>Replay ends</h4>
                        <h6>Add a replay end</h6>
                        <label>Time point: <input type="text" ng-model="newReplayEnd.time_point"
                                                class='form-control' readonly/></label>
                    <button class='btn btn-success btn-lg' ng-click="addReplayEnd()" ng-disabled="!isReplay">Add</button>
                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='p in replayends' timepoint="{{ p.time_point + round.begin }}">
                                <td>{{ p.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>
                                    <span class='badge' ng-click="deleteReplayEnd(p.id)">X</span>
                                </td>
                            </tr>
                        </table>
                    </md-content>
                </md-tab>
                <md-tab label="Points">
                    <md-content class="md-padding" ng-controller="PointCtrl">
                        <h4>Point gains</h4>
                        <h6>Add a point gain</h6>
                        <label>Time point: <input type="text" ng-model="newPointGain.time_point"
                                                class='form-control' readonly/></label>
                        <label>Point total: <input type="text" ng-model="newPointGain.point_total"
                                                class='form-control'/></label>
                    <button class='btn btn-success btn-lg' ng-click="addPointGain()">Add</button>
                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>Point total</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='p in pointgains' timepoint="{{ p.time_point + round.begin }}">
                                <td>{{ p.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>{{ p.point_total }}</td>
                                <td>
                                    <span class='badge' ng-click="deletePointGain(p.id)">X</span>
                                </td>
                            </tr>
                        </table>
                        <h4>Point flips</h4>
                        <h6>Add a point flip</h6>
                        <label>Time point: <input type="text" ng-model="newPointFlip.time_point"
                                                class='form-control' readonly/></label>
                        <label>Controlling side: <select ng-model="newPointFlip.controlling_side" class="'form-control"
                                                   ng-options="side.id as side.name for side in sides">
                        <option value="">Select side</option>

                    </select></label>
                    <button class='btn btn-success btn-lg' ng-click="addPointFlip()">Add</button>
                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>Controlling side</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='p in pointflips' timepoint="{{ p.time_point + round.begin }}">
                                <td>{{ p.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>{{ p.controlling_side }}</td>
                                <td>
                                    <span class='badge' ng-click="deletePointFlip(p.id)">X</span>
                                </td>
                            </tr>
                        </table>
                        <h4>Overtime</h4>
                        <h6>Add start of overtime</h6>
                        <label>Time point: <input type="text" ng-model="newOvertimeStart.time_point"
                                                class='form-control' readonly/></label>
                    <button class='btn btn-success btn-lg' ng-click="addOvertimeStart()" ng-disabled="!overtimeAddable">Add</button>
                        <table class="table table-striped">
                            <tr>
                                <th>Time</th>
                                <th>Actions</th>
                            </tr>
                            <tr ng-repeat='p in overtimestarts' timepoint="{{ p.time_point + round.begin }}">
                                <td>{{ p.time_point|secondsToDateTime | date:'HH:mm:ss' }}</td>
                                <td>
                                    <span class='badge' ng-click="deleteOvertimeStart(p.id)">X</span>
                                </td>
                            </tr>
                        </table>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>
    </div>
</div>